body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.account-form {
  border: 1px solid black;
  padding: 20px;
  width: 30%;
  margin: auto;
  background-color: white;
}

#nav-bar {
  margin-top: 20px;
}

header {
  text-align: center;
  position: relative;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: auto;
  border: 1px solid black
}

.grid-item {
  text-align: center;
  padding: 15%;
  border: 1px solid black
}

.big-board .grid-container {
  width: 40%;
}

.board-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.msg {
  width: fit-content;
  margin: auto;
}